<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/blog/style.css">
<title>{{ page.title }} - Gugălcrom Blog</title>
</head>
<body>
    <header>
    <nav>
        <ul>
            <li><a href="/">Site-ul principal</a></li>
        </ul>
    </nav>
    <div id="menuToggle">
            <!--
            A fake / hidden checkbox is used as click reciever,
            so you can use the :checked selector on it.
            -->
            <input type="checkbox" />
            <span class="material-icons" style="font-size: 36px">menu</span>
            <!--
            Too bad the menu has to be inside of the button
            but hey, it's pure CSS magic.
            -->
            <div id="menu">
              <ul>
                <li><a href="/blog">Acasă</a></li>
                <li class="mobile-post-link">Cele mai recente</li>
                {% for post in site.posts %}
                                <li>
                                    <a href="{{ site.baseurl }}{{ post.url }}" class="mobile-post-link">{{ post.title }}</a>
                                </li>
                                {% if forloop.index == 5 %}
                                  {% break %}
                                {% endif %}
                            {% endfor %}
                <li><a href="/blog/browse-tags.html">Caută după etichete</a></li>
                <li><a href="/">Site-ul principal</a></li>
                    <ul>
                  </div>
            </div>
        </div>
    <h1>{{ page.title }}</h1>
    </header>
    <main>
      <aside class="sidebar">
        <div class="inner">
          <br><a href="/blog">Acasă</a><br>
          <div id="recent-posts">
              <h3>Cele mai recente</h3>
              <ul>
                  {% for post in site.posts %}
                      <li>
                          <!-- Transform date to Romanian format -->
                          <span class="date">
                              {% assign w = post.date | date: "%w"  %}
                              {% case w %}
                                  {% when '1' %}luni,
                                  {% when '2' %}marți,
                                  {% when '3' %}miercuri,
                                  {% when '4' %}joi,
                                  {% when '5' %}vineri,
                                  {% when '6' %}sâmbătă,
                                  {% when '0' %}duminică,
                              {% endcase %}
                              
                              {{ post.date | date: "%-d" }}
                  
                              {% assign m = post.date | date: "%m"  %}
                              {% case m %}
                                  {% when '01' %}ianuarie
                                  {% when '02' %}februarie
                                  {% when '03' %}martie
                                  {% when '04' %}aprilie
                                  {% when '05' %}mai
                                  {% when '06' %}iunie
                                  {% when '07' %}iulie
                                  {% when '08' %}august
                                  {% when '09' %}septembrie
                                  {% when '10' %}octombrie
                                  {% when '11' %}noiembrie
                                  {% when '12' %}decembrie
                              {% endcase %}
                  
                              {{ post.date | date: "%Y" }}
                          </span><br>
                          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                      </li>
                      {% if forloop.index == 5 %}
                        {% break %}
                      {% endif %}
                  {% endfor %}
              </ul>
          </div>
          <div id="tags">
            <h3>După etichete</h3>
              {% for tag in site.tags %}
                  {% if forloop.first == true %}
                    <a href="/blog/browse-tags.html#{{ tag[0] }}">{{ tag[0] }}</a>
                  {% else %}
                     • <a href="/blog/browse-tags.html#{{ tag[0] }}">{{ tag[0] }}</a>
                  {% endif %}
                  {% if forloop.index == 20 %}
                    {% break %}
                  {% endif %}
              {% endfor %}
            <br>
            <a href="/blog/browse-tags.html">Toate etichetele</a>
        </div>
        </div>
    </aside>
      <article class="content">
        <!-- Transform date to Romanian format -->
        <span class="date">
          {% assign w = page.date | date: "%w"  %}
          {% case w %}
              {% when '1' %}luni,
              {% when '2' %}marți,
              {% when '3' %}miercuri,
              {% when '4' %}joi,
              {% when '5' %}vineri,
              {% when '6' %}sâmbătă,
              {% when '0' %}duminică,
          {% endcase %}
          
          {{ page.date | date: "%-d" }}

          {% assign m = page.date | date: "%m"  %}
          {% case m %}
              {% when '01' %}ianuarie
              {% when '02' %}februarie
              {% when '03' %}martie
              {% when '04' %}aprilie
              {% when '05' %}mai
              {% when '06' %}iunie
              {% when '07' %}iulie
              {% when '08' %}august
              {% when '09' %}septembrie
              {% when '10' %}octombrie
              {% when '11' %}noiembrie
              {% when '12' %}decembrie
          {% endcase %}

          {{ page.date | date: "%Y" }}
        </span>
        <span>
          {% if tags %}
            <br> Etichete: 
            {% for tag in page.tags %}
                {% if forloop.last %}
                    <a href="/browse-tags.html#{{ tag }}">{{ tag }}</a> 
                {% else %}
                    <a href="/browse-tags.html#{{ tag }}">{{ tag }}</a>, 
                {% endif %}
            {% endfor %}
          {% endif %}
        </span>
        {{ content }}
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </article>
    </main>
    <footer>
        <h2>Gugălcrom</h2>
        <ul>
            <li><a href="https://Secret-chest.github.io">GitHub</a></li>
            <li><a href="https://scratch.mit.edu/users/mumu245">Scratch</a></li>
            <li><a href="https://www.youtube.com/channel/UCtmGKrFtyfTlhpX9X8ktb8Q">YouTube</a></li>
            <li class="gray">switchtolinux.today</li>
        </ul>
    </footer>
<script src="/ripples.js"></script>
</body>
</html>